{% extends 'base/base.html' %}
{% load staticfiles %}
{% load bootstrap4 %}
{% block extrastatic %}
<style media="screen"></style>
{% endblock extrastatic %}

{% block content %}
<div class="container-fluid">
        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Informe de ventas por vendedor</h6>
                </div>
                <div class="card-body">
                  <div class="chart-bar">
                    <canvas id="myChart"></canvas>
                  </div>
                </div>
                </div>
            </div>
        </div>
</div>
{% endblock content %}


{% block extrajs %}
<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
<script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>
<script type="text/javascript">
    options = {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true,
                    responsive: true,
                    mainAspectRatio: false
                }
            }]
        }
    }
    $.get('{% url "reportes:ventas_por_vendedor_json" %}', function(data) {
        console.log(data)
        var ctx = $("#myChart").get(0).getContext("2d");
        new Chart(ctx, {
            type: 'bar', data: data, options:options
        });
    });
</script>
{% endblock %} 