{% extends "base/base.html" %}
{% block title %} Factura {% endblock %}
{% block content %}
<div class="row" id="contenedor">
  <div class="col-lg-4">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Detalle Factura</h6>
      </div>
      <div class="card-body">
        <p>#Factura: 000123{{ venta.id }}</p>
        {% if venta.cliente %}
        <p>Cliente: {{venta.cliente.first_name}} {{venta.cliente.last_name}}</p>
        {% endif %}
        {% if venta.vendedor %}
        <p>Vendedor: {{venta.vendedor.first_name}} {{venta.vendedor.last_name}}</p>
        {% endif %}
        <p>Fecha: {{venta.fecha}}</p>
        <p>Subtotal: {{venta.subtotal}}</p>
        <p>Iva: {{venta.iva|floatformat}}</p>
        <p><b>Total: {{venta.total}}</b></p>
      </div>
    </div>
    </div>
    <div class="col-lg-6">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Boletos comprados:</h6>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered dataTable" width="100%" cellspacing="0">
              <thead>
                  <tr>
                      <th scope="col">Boleto</th>
                      <th scope="col">Precio</th>
                  </tr>
              </thead>
              <tbody>
                  {% for boleto in venta.boletos_de_la_venta.all %}
                  <tr class="table-primary">
                      <td>{{boleto.localidades_evento}}</td>
                      <td>{{boleto.localidades_evento.precio}}</td>
                  </tr>
                  {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>

  </div>
</div>

{% if request.user.es_vendedor %}
      <a href="{% url 'ventas:mis_ventas' %}" class="btn btn-primary">Volver</a>
      {% endif %}
      {% if request.user.es_cliente %}
      <a href="{% url 'ventas:mis_compras' %}" class="btn btn-primary">Volver</a>
      {% endif %}
      <button onclick="imprimir()" class="btn btn-info" ><i class="fas fa-download fa-sm text-white-50"></i> Imprimir</button>

{% endblock %}

{% block extrajs %}
<script>
    function imprimir(){
        var printContents = document.getElementById("contenedor").innerHTML;
    document.body.innerHTML = printContents;
    window.print();
        location.reload();
    }
</script>
{% endblock %}