{% extends 'base/tables.html' %}
{% load bootstrap4 %}
{% block title %} Lista de eventos {% endblock %}

{% block content %}
<!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <br/>
          <h1 class="h3 mb-2 text-gray-800">Lista de eventos</h1>
          <br/>
          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Lista de eventos</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Categoria</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Hora</th>
                            <th scope="col">Lugar</th>
                            {% if request.user.es_administrador %}
                            <th scope="col">URL</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Acciones</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                    {% if object_list  %}
                        {% for evento in object_list  %}
                        <tr class="table-primary">
                            <td>{{ forloop.counter }}</td>
                            <td>{{ evento.nombre }}</td>
                            <td>{{ evento.tipo_de_evento }}</td>
                            <td>{{ evento.descripcion }}</td>
                            <td>{{ evento.fecha }}</td>
                            <td>{{ evento.hora }}</td>
                            <td>{{ evento.lugar }}</td>
                            {% if request.user.es_administrador %}
                            <td>{{ evento.url }}</td>
                            <td>{{ evento.estado }}</td>
                            <td>
                                <a class="btn btn-info" href="{% url 'eventos:localidades' evento.id %}">Localidades</a>
                                <a class="btn btn-warning" href="{% url 'eventos:editar_evento' evento.id %}">Editar</a>
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    {% else %}
                    <h1> No hay eventos </h1>
                    {% endif %}
                    </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->
{% endblock %}